.Login-page {
    background-color: #f2f2f4;
     overflow-y: auto;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.Login-header {
  margin-bottom: 50px;
  padding-top: 50px;
}

.Login-center {
    width: 600px;
    margin: auto;
}
.multipro-brand {
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
     height: 92px;
    width: 319px;
     margin: auto;
}
.multipro-title {
    font-size: 32px;
  text-align: center;
  color: #6d6e72;
  margin-bottom: 10px;
}

.multipro-subtitle{
text-align: center;
  font-size: 1.5em;
  color: #6d6e72;
}

.form-Login {
    width: 380px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0 20px 25px 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(49, 50, 50, 0.46);
    -moz-box-shadow: 3px 3px 20px 0px rgba(49, 50, 50, 0.46);
    box-shadow: 3px 3px 20px 0px rgba(49, 50, 50, 0.46);
}

.form-Login-header {
  text-align: center;
  color: #6D6E72;
  font-size: 1.7em;
  margin-bottom: 20px;
  padding-top: 20px;
}

.form-Login-input,.form-Login-submit {
    width: 95%;
}

.form-Login-submit{
    color: #fff;
  text-align: center;
  font-size: 1.3em;
  background: #F89921;
  width: 98%;
  border: 2px solid #D57F2A;
  padding: 10px 0 10px 0;
  margin-top: 15px;
  cursor: pointer;
}



.Login-forgot{
text-align: right;
  direction: rtl;
  margin-right: 15px;
  color: #6D6E72;
}