.signIn-page {
    /*height: auto;
    width: 100%;
   
    box-sizing: border-box;*/
     background-color: #f2f2f4;
     overflow-y: auto;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}
.enter-btn {
    height: 40px;
    width: 112px;
    background-color: #f89921;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    line-height: 34px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
}

.signIn-header {
  margin-bottom: 40px;
  padding-top: 50px;
}

.signIn-center {
    width: 380px;
    margin: auto;
}
.multipro-icon {
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
     height: 92px;
    width: 319px;
     margin: auto;
}
.multipro-text {
    font-size:32px;
    text-align: center;
    color: #6d6e72;
}
.form-signup {
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(49, 50, 50, 0.46);
    -moz-box-shadow: 3px 3px 20px 0px rgba(49, 50, 50, 0.46);
    box-shadow: 3px 3px 20px 0px rgba(49, 50, 50, 0.46);
}

.form-signup-header {
  text-align: center;
  color: #6D6E72;
  font-size: 1.7em;
  margin-bottom: 20px;
  padding-top: 20px;
}

.form-signup-input,.form-signup-submit {
    width: 95%;
}

.form-signup-submit{
    color: #fff;
  text-align: center;
  font-size: 1.3em;
  background: #F89921;
  width: 98%;
  border: 2px solid #D57F2A;
  padding: 10px 0 10px 0;
  margin-top: 15px;
  cursor: pointer;
}

input{
    font-family: "Open Sans Hebrew","Open Sans","Arial",sans-serif;
    font-size: 1.2em;
    text-align: right;
    height: 35px;
    padding-right: 4%;
    margin-bottom: 15px;
    border-style: none;
    border: 1px solid #dddddf;
}
input.name {
    direction: rtl;
}