/******************** General **********************/
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);


body, html {
    margin: 0;
    font-family: "Open Sans Hebrew","Open Sans","Arial",sans-serif;
    font-size: 15px;
    height: 100%;
    width: 100%;
    direction: rtl;
    /*background-color: #f2f2f4;*/
}

header {
    height: 70px;
    background-color: #6d6e72;
}

#user-container {
    width: 120px;
    float: right;
    margin: 10px;
}

#user-image {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
}

#user-name {
    height: 40px;
    color: #fff;
    display: inline-block;
}
/******************** test **********************/
#test-container {
    width: 80%;
    position: relative;
    margin: 10px auto;
    height: 80%;
    color: #000;
}

#test-settings{
    
}

/******************** timer **********************/
.timeTo{
    direction: ltr;
}
/******************** swiper **********************/
.swiper-container {
    /*color: #000;*/
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 100%;
    opacity: 0.4;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.swiper-slide-visible {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform:  scale(0.9);
    -o-transform:  scale(0.9);
    transform:  scale(0.9);
}

.swiper-slide-active {
    font-size: 18px;
    top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    /*-webkit-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.71);
    box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.71);*/
}

.question-status{
    float: right;
margin-left: 15px;
}


.question-container {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    /*background-color: #0ff;*/
}

.swiper-slide .title {
    font-style: italic;
    /*font-size: 25px;*/
    line-height: 20px;
}

.swiper-slide .question-title{
    
}
/*.swiper-slide .title .text{
    display: inline-block;
}*/

.swiper-slide .title .number{
    display: inline-block;
    margin-left:4px; 
    text-align: center;
}

.swiper-slide .title .number.circle {
    border: 1px solid;
    border-radius: 20px;
}

.swiper-slide .title .number.asterisk:before {
   content: "*";
   color: red;
}

.answers-container {
    margin: 20px 0;
}

.answer-item{
    
}

.number{  
border-radius: 40px;
width: 25px;
height: 25px;
display: inline-block;
text-align: center;
margin-left: 5px;
}

.number.answer{
    border: 1px solid;
}

.number.not-answer{
    text-decoration: line-through;
}

.answer-icon {
   background-image: url("../img/choose.png");
width: 24px;
height: 21px;
display: inline-block;
cursor: pointer;
visibility: hidden;
margin-left: 13px;
vertical-align: middle;
}

.not-answer-icon {
  background-image: url("../img/choose.png");
width: 24px;
height: 21px;
display: inline-block;
background-position: -24px 0;
cursor: pointer;
visibility: hidden;
vertical-align: middle;
}

.swiper-slide-active .answer-item:hover .answer-icon,.swiper-slide-active .answer-item:hover .not-answer-icon{
    visibility: visible;
}
.answer-text {
}
.question-feature{
    opacity: 0;
    /*-webkit-transition: 1s opacity;    
    -moz-transition:  1s opacity;
    -ms-transition: 1s opacity;
    transition: 1s opacity;*/
    /*width: 16%;
display: inline-block;*/
}

.swiper-slide-active .question-feature{
   opacity: 1;
}

.question-feature-item{
     background-color: #e7e8ea;
display: inline-block;
vertical-align: top;

     width: 90px;

     height: 40px;
     line-height: 40px;
}

.question-feature-item.comment {
    width: 240px;
}

.question-feature-item.comment input{
    height: 20px;
display: inline-block;
background-color: #f5f6f8;
width: 190px;
}
.question-feature-text{
    display: inline-block;
}

.question-settings{
    background-color: red;
width: 100%;

}

.settings-item{
   width: 21px;
   height: 21px;
display: inline-block;
vertical-align: top;

}

.icon{
    width: 18px;

    height: 100%;
display: inline-block;
vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px;
    cursor: pointer;
}
.question-settings-text{
    width: 100%;
}
.guess .icon{
     background-image: url("../img/guess.png"); 
}

.settings-item.asterisk{
    cursor: pointer;
   background-image: url("../img/asterisk.png");
}
.settings-item.asterisk.selected{
    background-position: -22px 0;
}
.settings-item.circle{
    cursor: pointer;
  background-image: url("../img/circle.png");
}

.settings-item.circle.selected{
    background-position: -22px 0;
}

.timer .icon{
     background-image: url("../img/asterisk.png");
}

.clear .icon{
     background-image: url("../img/clear.png");
}

.comment .icon{
     background-image: url("../img/comment.png"); 
}

.pagination {
    position: absolute;
    z-index: 20;
    left: 0px;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: #aaa;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    opacity: 0;
    position: relative;
    top: -50px;
}

.swiper-visible-switch {
    opacity: 1;
    top: 0;
    background: #aaa;
}

.swiper-active-switch {
    background: #fff;
}
